In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import sqlite3
import pandas as pd

# Step 1: Read the CSV file into a Pandas DataFrame
csv_file_path = '/content/drive/My Drive/AbhiData/HEROMOTOCO.NS.csv'  # Update with your CSV file path
df = pd.read_csv(csv_file_path)

# Step 2: Connect to (or create) an SQLite database
db_path = 'csv_to_sqlite.db'  # SQLite DB name
conn = sqlite3.connect(db_path)
cursor = conn.cursor()

# Step 3: Create a table dynamically based on CSV columns
table_name = 'my_table'  # You can choose your table name
columns = ', '.join([f'{col} TEXT' for col in df.columns])  # Assuming all columns are text type
create_table_query = f'CREATE TABLE IF NOT EXISTS {table_name} ({columns});'

cursor.execute(create_table_query)

# Step 4: Insert data into the table
for row in df.itertuples(index=False):
    placeholders = ', '.join(['?' for _ in df.columns])  # Create placeholders for column values
    insert_query = f'INSERT INTO {table_name} VALUES ({placeholders});'
    cursor.execute(insert_query, tuple(row))  # Insert each row

# Step 5: Commit changes and close the connection
conn.commit()
# conn.close()

print(f"Database '{db_path}' created with table '{table_name}' from the CSV file.")

Database 'csv_to_sqlite.db' created with table 'my_table' from the CSV file.

In [ ]:
cursor.execute('SELECT * FROM my_table limit 5')
rows = cursor.fetchall()

# Print the rows
for row in rows:
    print(row)

('Sep 6, 2024', '5,720.00', '5,770.30', '5,649.70', '5,743.75', '5,743.75', '683,920')
('Sep 5, 2024', '5,690.00', '5,799.00', '5,650.00', '5,734.20', '5,734.20', '817,503')
('Sep 4, 2024', '5,605.00', '5,689.30', '5,605.00', '5,683.75', '5,683.75', '532,554')
('Sep 3, 2024', '5,602.00', '5,699.00', '5,549.90', '5,646.50', '5,646.50', '805,935')
('Sep 2, 2024', '5,535.00', '5,629.05', '5,517.00', '5,578.20', '5,578.20', '1,054,947')